
<h1 class="ds-text">About Me</h1>
<p class="ds-text">
  I am 13
<br/>
My name is daria, and i have a dog
<br/>
he's called snowy
</p>
<div class="white-space"></div>

<h1 class="ds-text">favourites</h1>
<p class="ds-text">
<ul class="ds-text">
<li>food:ice cream</li>
<li> animals:geese</li>
<li>book: chains</li>
</ul>
<div class="white-space"></div>
<p class="ds-text">
im always bored
<br/>
so i try and improve this website in my spare time!
<br/>
this is the second day of my website
<br/>
im trying to update it every day
</p>
